<div class="hs-element-container">
    <h2 class="hs-secondary-title">Edit Model</h2>
    <table cellpadding="3" cellspacing="15" style="border-spacing:12px">
        <tr>
            <td style="margin-top:10px">Property Name :</td>
            <td style="margin-top:10px">
                <input ng-disabled="true" type="text" ng-model="editElement.propertyName" placeholder="Enter property name" />
            </td>
        </tr>
        <tr>
            <td>Data Type:</td>
            <td>
                <select ng-model="editElement.dataType">
          <option value="">Select</option>
          <option ng-repeat="type in dataTypes" value="{{type.value}}">{{type.name}}</option>
        </select>
            </td>
        </tr>
        <tr>
            <td style="margin-top:10px"> List : </td>
            <td style="margin-top:10px">
                <input type="checkbox" ng-model="editElement.list" />
            </td>
        </tr>
        <tr>
            <td> Required :</td>
            <td>
                <input type="checkbox" ng-model="editElement.required" />
            </td>
        </tr>
    </table>
    <div class="hs-btn-group">
        <input type="button" value="Update" class="hs-btn" ng-click="updateProperty(editElement)" ng-disabled="(editElement.dataType) ?  false : true " />
        <input type="button" ng-click="closengDialog()" value="Cancel" class="hs-btn" />
    </div>
</div>