<!DOCTYPE html>
<html>

<head>
  <title>Generate Json</title>
  <meta charset="utf-8" />
  <link href="../Scripts/ui-grid/ui-grid.min.css" rel="stylesheet" />
  <link href="../Content/bootstrap.css" rel="stylesheet" />
  <script src="../Scripts/angular.min.js"></script>
  <script src="../Scripts/jquery-2.2.4.js"></script>
  <script src="../Scripts/ngDialog.js"></script>
  <script src="../Scripts/ui-grid/ui-grid.min.js"></script>
  <script src="../Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
  <script src="../Scripts/AppScripts/app.js"></script>
  <script src="../Scripts/AppScripts/jsonController.js"></script>
</head>

<body ng-app="codeDev">
  <div class="container">
    <h3>Welcome</h3>
    <div ng-controller="jsonController">
      <div>
        List of Models Created :
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="model in models"><a href="" ng-click="GetModel(model)"> {{model.model}}</a></li>
        </ul>
      </div>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="modelName">Model name:</label>
          <input type="text" ng-model="modelName" class="form-control" placeholder="Enter model name" />
        </div>
        <div class="form-group">
          <label for="propertyName">Property name:</label>
          <input type="text" ng-model="propertyName" class="form-control" placeholder="Enter property name" />
        </div>
        <div class="form-group">
          <label for="dataType">Data Type:</label>
          <select class="form-control" ng-model="dataType">
              <option value="">Select</option>
              <option ng-repeat="type in dataTypes" value="{{type}}">{{type.name}}</option>
            </select>
        </div>
        <div class="form-group">
          <label for="propertyType">Property Type:</label>
          <select class="form-control" ng-model="propertyType">
              <option value="">Select</option>
              <option ng-repeat="type in modelTypes" value="{{type.value}}">{{type.name}}</option>
            </select>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" ng-model="required" /> Required</label>
        </div>
        <button class="btn btn-default" ng-click="AddPropertyToModel()" ng-disabled="(modelName && propertyName && dataType && propertyType) ?  false : true ">Add</button>
      </form>
      <table class="table table-striped table-bordered" ng-repeat="model in tableViewModels">
        <thead>
          <tr>
            <th>Model Name : {{model.model}}</th>
          </tr>
          <tr>
            <th style="width:20%">Property Name</th>
            <th style="width:20%">Data Type</th>
            <th style="width:20%">Property Type</th>
            <th style="width:20%">Required</th>
            <th style="width:10%"></th>
            <th style="width:10%"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="prop in model.properties">
            <td>{{prop.name}}</td>
            <td>{{prop.dataType}}</td>
            <td>{{prop.type}}</td>
            <td>{{prop.required}}</td>
            <td>
              <button>Edit</button>
            </td>
            <td>
              <button ng-click="DeleteProperty(model.model, prop.$$hashKey, prop.name)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <button style="padding-top:5px" ng-show="models.length > 0" ng-click="SwaggerJsonGeneration()">Show Json</button>
      </div>
      <div>
        <pre ng-show="jsonObject">{{jsonObject}}</pre>
      </div>
      <div ng-show="swaggerEditorJson">
        <pre>{{swaggerEditorJson}}</pre>
      </div>
    </div>
  </div>
</body>

</html>
