<!DOCTYPE html>
<html>

<head>
    <title>Generate Json</title>
    <meta charset="utf-8" />
    <link href="../Scripts/ui-grid/ui-grid.min.css" rel="stylesheet" />
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/jquery-2.2.4.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/ngDialog.js"></script>
    <script src="../Scripts/AppScripts/app.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="../Scripts/Services/definitionService.js"></script>
    <script src="../Scripts/Services/pathService.js"></script>
    <script src="../Scripts/AppScripts/jsonController.js"></script>
    <link href="../Content/ngDialog.min.css" rel="stylesheet" />
    <link href="../Content/ngDialog-theme-default.css" rel="stylesheet" />
</head>

<body ng-app="codeDev" ng-controller="jsonController">
    <div class="container">
        <br>
        <br>
        <br>
        <div class="col-sm-2">
            <ul class="list-group">
                <li class="list-group-item"> <a href="" ng-click="GoToHomeDefinitions()">Definitions</a></li>
                <li class="list-group-item" ng-repeat="model in models track by $index">
                    <a href="" ng-click="GetProperties(model.model)"> {{model.model}}</a>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item"> <a href="" ng-click="GoToHomeServices()">Services</a> </li>
                <li class="list-group-item" ng-repeat="path in paths track by $index">
                    <a href="" ng-click="ClearData(path.pathName)" ng-model="path.pathName"> {{path.pathName}}</a>
                    <ul ng-repeat="method in path.methods">
                        <li>
                            <a href="" ng-click="GetMethodDetails(path.pathName, method.methodName)"> {{method.methodName}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div ng-show="showDef" id="definitions" ng-include="'templates/Definitions.tpl.html'"></div>
            <div id="paths" ng-hide="showDef" ng-include="'templates/Services.tpl.html'"> </div>
        </div>
        <div class="col-sm-4">
            <textarea ng-model="filePath"></textarea>
            <button class="btn btn-primary" ng-click="CreateModelsFromJson()">Generate</button>
            <pre class="well" style="height: 500px; overflow-y: auto;">{{tableViewModels}}</pre>
        </div>
    </div>
</body>
</html>